@import "variables.scss";
@import "mixins.scss";

#css-zen-garden{
    background-image: url(../dist/img/fleur.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Abel', sans-serif;
    margin: inherit;
}

h1{
    color: $orange;
    font-size: 35px;
    text-align: center;
}

h2{
    color: $purpple;
    font-size: 22px;
    text-align: center;
    font-style: italic;
}

#zen-intro, #zen-supporting{
    margin: 11px;
}

#zen-summary{
    @include intro(rgba(0, 0, 0, 0.24));
}

p{
    @include paragraphe(rgba(0, 0, 0, 0.24));
}

h3{
    @include h3(rgba(0, 0, 0, 0.24));
}

a{
    @include a(rgba(0, 0, 0, 0.24));
    &:hover{
        background: $pink;
        color: $dark;
    }
}

.wrapper{
    @include bottom(rgba(0, 0, 0, 0.24));
    display: flex;
    justify-content: space-evenly;
}

.sidebar{
    background-image: url("../dist/img/bottom.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include bottom(rgba(0, 0, 0, 0.24));
}