@import "variables.scss";
@import "mixins.scss";



h1{
    color: $orange;
    font-size: 28px;
    display: flex;
    text-align: center;
}

#css-zen-garden{
    background-image: url(../dist/img/fleur.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;;
    font-family: 'Abel', sans-serif;
    margin: 11px;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $orange;
    }
}

h1{
    @include paragraphe(#b2bec3);   
}

p{
    @include paragraphe(rgba(0, 0, 0, 0.24));
}

