@import "variables.scss";
@import "mixins.scss";

h1{
    color: $light;

}
#css-zen-garden{
    background-image: url(../dist/img/fleur.jpg);
    font-family: 'Abel', sans-serif;
    margin: 11px;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $dark;
    }
}

h1{
    @include paragraphe(#b2bec3);   
}

p{
    @include paragraphe(rgba(0, 0, 0, 0.24));
}

